<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="username">Username</label>
        <input #txtUsernameOrEmail type="text" class="form-control" id="username" placeholder="Username & Email">
        <small class="form-text text-muted invalid-feedback">***</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input #txtPassword type="password" class="form-control" id="password" placeholder="password">
      </div>
      <button style="margin-top:5px;" type="submit" class="btn btn-primary" (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Sign In</button>
      <a style="margin-top:5px;margin-left:5px;" routerLink="/password-reset" class="btn btn-secondary" >Forget Password</a>

    </div>
    <div class="col-md-3"></div>
  </div>