
<mat-list role="list">
    <a mat-list-item role="listitem" routerLink="/admin">Dashboard</a>
    <a mat-list-item role="listitem" routerLink="departments">Departments</a>
    <a mat-list-item role="listitem" routerLink="positions">Positions</a>
    <a mat-list-item role="listitem" routerLink="employees">Employees</a>
    <a mat-list-item role="listitem" routerLink="users">Users</a>
    <a mat-list-item role="listitem" routerLink="authorize-menu">Authorization Menu</a>
    <a mat-list-item role="listitem" routerLink="roles">Roles</a>
    <a mat-list-item role="listitem" routerLink="employee-and-department">Employee&Department</a>
    <a mat-list-item role="listitem" routerLink="">Back</a>
  </mat-list>