<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="deletedDate">
        <th mat-header-cell *matHeaderCellDef> Deleted Date </th>
        <td mat-cell *matCellDef="let element"> {{element.deletedDate}} </td>
      </ng-container>
  
      <ng-container matColumnDef="modifiedDate">
        <th mat-header-cell *matHeaderCellDef> Modified Date </th>
        <td mat-cell *matCellDef="let element"> {{element.modifiedDate}} </td>
      </ng-container>
  

      <!-- Symbol Column -->
      <ng-container matColumnDef="isDeleted">
        <th mat-header-cell *matHeaderCellDef> isDeleted </th>
        <td mat-cell *matCellDef="let element"> {{element.isDeleted}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <img src="../../../../../assets/edit.png" width="40" height="40"/> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef >  </th>
        <td mat-cell *matCellDef="let element"
        appDelete  
        [id]="element.id"
         (callback)="getPositions()"
         controller="position"> 
         <img src="../../../../../assets/delete.png"  width="25" height="25"   />

         </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator (page)="pageChanged()"
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  